ear.name=wildfly
debug.level = source,lines,vars
target = 1.7
source = 1.7

vesion.compiler=javac1.8
path.execute.dir=/usr/lib/jvm/java-8-oracle/bin/javac
path.execute.dir.canuse=/usr/lib/jvm/jdk1.8.0_201/bin/javac
zip.dir=/opt/owshares/deploys/AD/tempzip

workspace.dir=${basedir}/../..

ear.dir=${workspace.dir}/EAFMasterEAR
front.dir=${workspace.dir}/FrontWeb
master.dir=${workspace.dir}/MasterWeb
rest.dir=${workspace.dir}/eaf-rest

exported.dir=${workspace.dir}/Export
temp.dir=${exported.dir}/temp
temp.build.dir=${temp.dir}/build
temp.workspace.dir=${temp.dir}/workspace
temp.war.dir=${temp.dir}/war

front.war=FrontWeb.war
master.war=MasterWeb.war
