ear.name=4.wildfly
debug.level = source,lines,vars
target = 1.7
source = 1.7

vesion.compiler=javac1.8
path.execute.dir.sandbox=/usr/lib/jvm/java-8-oracle/bin/javac
path.execute.dir.something=/appl/jdk1.8.0_211/bin/javac
zip.dir.something=/oneweb/owshares/SnapFile/AD/tempzip
path.execute.dir=C:\\Program Files\\Java\\jdk1.8.0_221\\bin\\javac
zip.dir=C:\\FileServerEAF\\deploy\\tempzip

workspace.dir=${basedir}/../..

ear.dir=${workspace.dir}/EAFMasterEAR
front.dir=${workspace.dir}/FrontWeb
master.dir=${workspace.dir}/MasterWeb
rest.dir=${workspace.dir}/eaf-rest

exported.dir=${workspace.dir}/Export
temp.dir=${exported.dir}/temp
temp.build.dir=${temp.dir}/build
temp.workspace.dir=${temp.dir}/workspace
temp.war.dir=${temp.dir}/war

front.war=FrontWeb.war
master.war=MasterWeb.war
