
body
{
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  background: #33495f;
}

div>img.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}
