<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FrontWeb</display-name>
  <filter>
    <description>
		</description>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.avalant.j2ee.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>
		</description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.front.j2ee.pattern.control.FrontController</servlet-class>
    <init-param>
      <description>
			</description>
      <param-name>page</param-name>
      <param-value>INDEX_SCREEN</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ActivityController</display-name>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.front.servlet.activitylog.ActivityController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CloseApplicationServlet</display-name>
    <servlet-name>CloseApplicationServlet</servlet-name>
    <servlet-class>com.front.servlet.logon.CloseApplicationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>IASLogonServlet</display-name>
    <servlet-name>IASLogonServlet</servlet-name>
    <servlet-class>com.front.servlet.logon.IASLogonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>IASOldLogonServlet</display-name>
    <servlet-name>IASOldLogonServlet</servlet-name>
    <servlet-class>com.front.servlet.logon.IASOldLogonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CallSessionServlet</display-name>
    <servlet-name>CallSessionServlet</servlet-name>
    <servlet-class>com.front.servlet.CallSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CheckLeftMenuServlet</display-name>
    <servlet-name>CheckLeftMenuServlet</servlet-name>
    <servlet-class>com.front.servlet.util.CheckLeftMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ReLoadMobileMenu</display-name>
    <servlet-name>ReLoadMobileMenu</servlet-name>
    <servlet-class>com.front.servlet.util.ReLoadMobileMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/FrontController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/ActivityController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseApplicationServlet</servlet-name>
    <url-pattern>/CloseApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IASLogonServlet</servlet-name>
    <url-pattern>/IASLogonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IASOldLogonServlet</servlet-name>
    <url-pattern>/IASOldLogonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallSessionServlet</servlet-name>
    <url-pattern>/CallSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckLeftMenuServlet</servlet-name>
    <url-pattern>/CheckLeftMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReLoadMobileMenu</servlet-name>
    <url-pattern>/ReLoadMobileMenu</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.avalant.j2ee.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/tags/JStartTagLib</taglib-uri>
      <taglib-location>/WEB-INF/JStartTagLib.tld</taglib-location>
    </taglib>
  </jsp-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>public resources</web-resource-name>
      <url-pattern>/screen_template/frame/scripts/jquery-custom-b.js</url-pattern>
      <url-pattern>/screen_template/frame/scripts/bootstrap/js/bootstrap.min.js</url-pattern>
      <url-pattern>/screen_template/frame/scripts/bootstrap/css/bootstrap.min.css</url-pattern>
      <url-pattern>/screen_template/frame/scripts/font-awesome/css/font-awesome.min.css</url-pattern>
      <url-pattern>/screen_template/frame/scripts/font-awesome/fonts/fontawesome-webfont.woff</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <display-name>SecurityConst</display-name>
    <web-resource-collection>
      <web-resource-name>All resource</web-resource-name>
      <url-pattern>/FrontController</url-pattern>
      <url-pattern>/screen_template/*</url-pattern>
      <url-pattern>/blank.jsp</url-pattern>
      <url-pattern>/logout.jsp</url-pattern>
      <url-pattern>/logon_error.jsp</url-pattern>
      <url-pattern>/login.jsp</url-pattern>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/IASOldLogonServlet</url-pattern>
      <http-method>GET</http-method>
      <http-method>PUT</http-method>
      <http-method>HEAD</http-method>
      <http-method>TRACE</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>ONEWEB Realm Name</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login_screen.jsp?jSecError=true</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>*</role-name>
  </security-role>
  <resource-ref id="ResourceRef_1313485612218">
    <description>
		</description>
    <res-ref-name>jdbc/master</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref id="ResourceRef_1313485612219">
    <description>
		</description>
    <res-ref-name>jdbc/application</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.front.servlet.listener.PreAuthenticationRequestListener</listener-class>
  </listener>
</web-app>